* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fff;
}

header .logo {
  margin-top: 5px;
}

header .logo img {
  width: 150px;
}

header .logo .fa-bars {
  display: none;
}

header nav .fa-times {
  display: none;
}

header nav ul {
  list-style: none;
  margin-top: 25px;
}

header nav ul li {
  display: inline;
  padding: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #727272;
}

header nav ul li a:hover {
  color: #f34949;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .heading {
  width: auto;
  padding: 30px;
  margin: 6rem 0 0 3rem;
  width: 600px;
}

.header .heading h1 {
  font-size: 4rem;
}

.header .heading .button {
  border: none;
  outline: none;
  background-color: #f34;
  color: #fff;
  height: 2.5rem;
  border-radius: 5rem;
  width: 150px;
  text-transform: capitalize;
  -webkit-box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

.header .heading .button:hover {
  background-color: #e22104;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .heading .button a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.header .heading .icons {
  margin-top: 80px;
}

.header .heading .icons h5 {
  width: 150px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.header .heading .icons h5 span {
  display: block;
  font-size: 25px;
}

.header .heading .icons :last-child {
  border-right: none;
}

.header .hero-imgs {
  height: 550px;
  margin: 4rem 4rem 0 0;
  width: 550px;
}

.header .hero-imgs div {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 550px;
}

.header .hero-imgs .owl-nav {
  position: absolute;
  z-index: 2;
  height: 80px;
  bottom: 0;
  right: 0;
}

.header .hero-imgs .owl-nav .owl-prev, .header .hero-imgs .owl-nav .owl-next {
  background-color: #fff;
  font-size: 30px;
  margin: 0;
  width: 80px;
  height: 80px;
}

#about {
  height: 100vh;
  position: relative;
  width: auto;
}

#about .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .about-container .about-img {
  margin-left: 3rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#about .about-container .about-img img {
  width: 500px;
  height: 600px;
}

#about .about-container .about-us {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 4rem 4rem 0 0;
}

#about .about-container .about-us h6 {
  color: #f34949;
}

#about .about-container .about-us .about-text h3 {
  font-weight: 700;
}

#about .about-container .about-us .about-text h5 {
  color: #f34949;
}

#about .about-container .about-us .about-text p {
  color: #727272;
}

#about .about-container .about-us h4 {
  margin-top: 3rem;
  font-weight: 600;
}

.special-dishes .title {
  padding-top: 5rem;
}

.special-dishes .title h5 {
  color: #f34949;
}

.special-dishes .title h3 {
  font-weight: 600;
}

.special-dishes .text {
  padding-top: 4rem;
}

.special-dishes .number {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
}

.special-dishes .about1 {
  padding-top: 3rem;
}

.special-dishes .about1 h4 {
  font-weight: 600;
  font-size: 2rem;
}

.special-dishes .about1 h4 span {
  color: #f34949;
}

.special-dishes .about1 .price {
  color: #000;
}

.special-dishes .about1 button {
  border: none;
  outline: none;
  background-color: #f34;
  color: #fff;
  height: 2.5rem;
  border-radius: 5rem;
  width: 150px;
  text-transform: capitalize;
  -webkit-box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
}

.special-dishes .about1 button:hover {
  background-color: #e22104;
  -webkit-transition: .5s;
  transition: .5s;
}

.special-dishes .about1 button a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.special-dishes .container .img img {
  width: 450px;
}

.special-dishes .container .steak {
  padding-bottom: 4rem;
}

.special-dishes .container .steak .img img {
  margin-left: 6rem;
}

.special-dishes .container .salmon {
  padding-bottom: 6rem;
}

.special-dishes .container .salmon .img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.special-dishes .container .salmon .text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#menu {
  width: 100%;
  padding: 3rem 0 8rem;
}

#menu .title {
  padding: 5rem 0 1.5rem 0;
}

#menu .title h5 {
  color: #f34949;
}

#menu .title h3 {
  font-weight: 700;
  color: #000;
}

#menu .container .menu-list {
  width: 100%;
}

#menu .container .menu-list h4 {
  color: #000;
  font-weight: 500;
}

#menu .container .menu-list .menu-item .menu-img {
  height: 100px;
  border-bottom: 2px dashed #727272;
  margin-right: 20px;
  margin-top: 20px;
}

#menu .container .menu-list .menu-item .menu-img .img {
  width: 100%;
}

#menu .container .menu-list .menu-item .menu-img .img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#menu .container .menu-list .menu-item .menu-img .img p {
  font-size: 1.6rem;
  margin-left: 5px;
}

#menu .container .menu-list .menu-item .menu-img .img p span {
  font-size: 16px;
  margin-top: 8px;
  color: #727272;
}

#menu .container .menu-list .menu-item .menu-img .img .price {
  float: right;
  font-size: 1.6rem;
  color: #727272;
  margin-left: 3.5rem;
}

#menu .container .menu-list .menu-item .menu-img .img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

#testimonies {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/testi-bg.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/testi-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#testimonies .title {
  padding: 5rem 0 3rem 0;
}

#testimonies .title h5 {
  color: #f34949;
}

#testimonies .title h3 {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}

#testimonies .testimonies {
  width: 80%;
  margin: 0 auto;
}

#testimonies .testimonies .testimony .fa-quote-left {
  font-size: 3rem;
  color: #fff;
}

#testimonies .testimonies .testimony p {
  font-size: 2rem;
  color: #fff;
}

#testimonies .testimonies .testimony .name p {
  font-size: 16px;
}

#testimonies .testimonies .testimony .name h6 {
  font-size: 20px;
  color: #fff;
}

#testimonies .testimonies .testimony .name h6 span {
  color: #f34949;
}

#team {
  margin: 5rem 0;
}

#team .title {
  padding-top: 5rem;
}

#team .title h5 {
  color: #f34949;
}

#team .title h3 {
  color: #000;
  font-weight: 500;
}

#team .container .img {
  margin-right: 20px;
  position: relative;
}

#team .container .img:hover .icons {
  height: 130px;
  -webkit-transition: .5s;
  transition: .5s;
}

#team .container .icons {
  position: absolute;
  left: 30px;
  bottom: 15px;
  padding-top: 10px;
  height: 80px;
  overflow: hidden;
  width: 85%;
  background: #fff;
  margin: 0 auto;
}

#team .container .icons i {
  color: #f34949;
  padding-left: 10px;
  cursor: pointer;
}

#reservation {
  background-image: url("../img/reservation-bg.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-top: 10rem;
  padding-top: 5rem;
}

#reservation .container {
  width: 400px;
  padding: 20px 40px 60px;
  height: auto;
  background-color: #fff;
  height: auto;
  -webkit-box-shadow: 5px 10px 20px #727272;
          box-shadow: 5px 10px 20px #727272;
  margin-left: 4rem;
}

#reservation .container .title {
  text-align: center;
}

#reservation .container .title h5 {
  color: #f34949;
}

#reservation .container .title h3 {
  color: #000;
  font-weight: 600;
}

#reservation .container form {
  display: inline;
}

#reservation .container form input, #reservation .container form textarea {
  margin-top: 10px;
  width: 100%;
  padding: 5px 3px;
  border: 1px solid #727272;
  border-radius: 5px;
  outline: none;
}

#reservation .container form textarea {
  height: 180px;
}

#reservation .container form #time, #reservation .container form #date {
  width: 45%;
}

#reservation .container form #time {
  float: right;
}

#reservation .container form button {
  border: none;
  outline: none;
  background-color: #f34;
  color: #fff;
  height: 2.5rem;
  border-radius: 5rem;
  width: 150px;
  text-transform: capitalize;
  -webkit-box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5);
  margin: 10px auto 0;
  width: 100%;
}

#reservation .container form button:hover {
  background-color: #e22104;
  -webkit-transition: .5s;
  transition: .5s;
}

#reservation .container form button a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

#footer {
  margin: 20rem 0 2rem;
  width: 100vw;
}

#footer .container {
  width: 100% p;
  width-color: #000;
}

#footer .container h3 {
  color: #000;
}

#footer .container .footer-text, #footer .container .time, #footer .container .newsletter {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  padding: 10px;
}

#footer .container .footer-text {
  margin-right: 2rem;
}

#footer .container .footer-text img {
  width: 150px;
}

#footer .container .footer-text .icons i {
  margin-right: 1.5rem;
  color: #000;
  cursor: pointer;
}

#footer .container .time {
  margin-right: 2rem;
}

#footer .container .time p {
  margin: 0;
  width: 90%;
}

#footer .container .time p span {
  float: right;
}

#footer .container .newsletter input {
  width: 95%;
  border: 1px solid #727272;
  padding: 5px 2px;
  outline: none;
}

#footer .container .newsletter button {
  border: none;
  outline: none;
  background-color: #f34;
  color: #fff;
  height: 2.5rem;
  border-radius: 5rem;
  width: 150px;
  text-transform: capitalize;
  -webkit-box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5);
  width: 95%;
  margin-top: 1rem;
  font-weight: 600;
}

#footer .container .newsletter button:hover {
  background-color: #e22104;
  -webkit-transition: .5s;
  transition: .5s;
}

#footer .container .newsletter button a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

#footer .container .copyright {
  padding-top: 5px;
}

#footer .container .copyright span {
  color: #f34949;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: none;
    width: 100vw;
    padding: 0;
    padding-bottom: 10px;
    margin-right: 4rem;
  }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100vw;
  }
  header .logo img {
    margin: 0 0 0 10px;
    width: 110px;
  }
  header .logo .fa-bars {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 25px;
    margin: 25px 25px 0 0;
  }
  header #navbar {
    height: 300px;
    width: 100%;
    display: none;
    background-color: #fff;
    z-index: 10000;
    overflow: hidden;
    -webkit-transition: .4s;
    transition: .4s;
  }
  header #navbar ul {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  header #navbar ul :first-child {
    margin-top: 25px;
  }
  header #navbar ul li {
    display: block;
    margin-left: -34px;
    padding: 15 10px 15px;
  }
  header #navbar ul li a {
    color: #000;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    padding: 20px;
  }
  .header .heading {
    margin: 6rem 0 0;
    padding: 10px;
    width: 100%;
  }
  .header .heading h1 {
    font-size: 3.5rem;
  }
  .header .heading .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 4px;
  }
  .header .heading .icons h5 {
    width: 100px;
  }
  .header .hero-imgs {
    width: 330px;
    height: 500px;
    margin: 0 auto;
  }
  .header .hero-imgs div {
    width: 100%;
    height: 500px;
  }
  #about {
    width: 100vw;
    height: auto;
  }
  #about .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .about-container .about-img {
    margin: 3rem auto 0;
    width: 100vw;
    overflow-y: hidden;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5);
  }
  #about .about-container .about-img img {
    width: 100%;
  }
  #about .about-us {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #about .about-us .about-text {
    margin: 2rem 0 0;
    width: 350px;
    padding-left: 1rem;
  }
  #about .about-us .about-text p {
    font-size: 16px;
  }
  #about .about-us h4 {
    margin-top: 1.5rem;
    margin-left: 0;
  }
  #about .about-us .special-recipes {
    width: 100vw;
    margin-left: 0;
    margin-bottom: 2rem;
  }
  #about .about-us .special-recipes .special img {
    width: 90px;
  }
  .special-dishes .container button {
    margin-bottom: 4rem;
  }
  .special-dishes .container .text .about1 {
    margin-left: 50px;
  }
  .special-dishes .container .steak .img img {
    margin-left: 0;
  }
  .special-dishes .container .salmon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #menu .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #menu .container .menu-list {
    padding-bottom: 4rem;
  }
  #menu .container .menu-list .menu-item .menu-img {
    height: 130px;
  }
  #menu .container .menu-list .menu-item .menu-img p {
    margin-left: 15px;
  }
  #menu .container .menu-list .menu-item .menu-img p span {
    margin-top: 0;
  }
  #testimonies {
    height: auto;
  }
  #testimonies .title {
    padding: 3rem 0 1.5rem;
  }
  #testimonies .title h3 {
    font-size: 2rem;
  }
  #testimonies .title .testimonies .testimony .fa-quote-left {
    font-size: 2rem;
  }
  #testimonies .title .testimonies .testimony p {
    font-size: 1rem;
  }
  #team .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #team .container .img {
    margin-top: 30px;
  }
  #team .container .icons {
    left: 20px;
  }
  #reservation {
    padding-top: 2.5rem;
  }
  #reservation .container {
    margin: 0 auto;
    width: 350px;
    padding: 10px 20px 30px;
  }
  #footer {
    margin-top: 10rem;
  }
  #footer .container .footer-text, #footer .container .time, #footer .container .newsletter {
    margin-bottom: 2rem;
  }
  #footer .container .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */